doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body

    .row
      .small-6.columns
        form(action='/login', method='post')
          fieldset
            legend Login
            .row
              .small-12.columns
                label Email
                input(name='email', type='text')
            .row
              .small-12.columns
                label Password
                input(name='password', type='password')
            .row
              .small-12.columns
                button.small.radius Enter DruFlix

      .small-6.columns
        form(action='/register', method='post')
          fieldset
            legend Register
            .row
              .small-12.columns
                label Email
                small (This will be your login)
                input(name='email', type='text')
            .row
              .small-12.columns
                label Name
                small (What others will see)
                input(name='name', type='text')
            .row
              .small-12.columns
                label Password
                input(name='password', type='password')
            .row
              .small-12.columns
                button.small.radius Join DruFlix

    .row
      .small-2.columns
        &nbsp;
      .small-8.columns
        if err
          span.jesse-span
            img(src='/img/jesse.jpg')
          span.error-text
            h5 Jesse Says:
            p &quot;#{err}&quot;
      .small-2.columns
        &nbsp;




    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.min.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

