h1 Welcome to DruFlix, #{name}.

p Thanks for registering, now you can start watching movies and shows, as well as adding your own. Just don't upload anything copyrighted or illegal or anything like that.
<br>
p Sincerely,
p El Jefe and Presidente for Life de DruFlix.
