extends ../shared/template

block content

  h1 #{title}
  each series in serieses
    - var id = series._id.toString();
    .series-container
      a(href='/series/show/' + id)
        img.series-cover(src=series.cover)
      p.series-info #{series.title}


